.menu-container{
    background-color: #040926;
    min-height: 100vh;
    width: 90%;
    margin: auto;
}
.menu-selection{
    margin: 0;
    padding: 10px 20px;
    list-style: none;
    /* justify-content: space-around;
    display: inline-flex;
    flex-flow: row wrap;
    gap:0px; */
    background-color: #040926;
    border-bottom: 1px solid azure;
    display: grid;
    grid-template-columns: 50% 50%;
    
}
.menu-selection li{
    padding: 10px 50px;
    /* padding: 10px; */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}
.menu-selection li:focus{
    background-color: azure;
    color:#040926;
}
.selected-menu{
    background-color: azure;
    color:#040926!important;
}
@media (min-width: 1000px) {
    .menu-selection{
        justify-content: space-around;
        display: inline-flex;
        flex-flow: row wrap;
        gap:0px;
    }
}
