@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300&family=Roboto&family=Roboto+Slab:wght@200;400&display=swap');

.feature-container {

    text-align: center;
    height: calc(100vh - 140px);
}
.feature-container .content {
    flex: 1 1 640px;
    padding-top: 25px;
}
.feature-container .content h3{
  margin-bottom: 0px;
}
.feature-container .content p{
  font-size: 20px!important;
  font-weight: bold;
  max-width: 350px;
  margin:auto

}
.feature-container .online-order{
  margin-top: 30px;
  margin-bottom: 30px ;
}
.feature-container .online-order button{
  height: 60px;
  width: 200px;
  border-radius: 8px;
  border-color: #2F182C;
  background-color: #2F182C;
  font-size: large;
}
.feature-container .online-order button a {
text-decoration: none;
color: #FFF2DE;
}

.feature-container .image {
  flex: 1 1 500px;
  animation: float 3s linear infinite;
  
}

.feature-container .image img {
  transform: rotate(10deg);
  width: 80%;
  margin-top: 0px;
}
@keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(48px);
    }
  }
.feature-container .content h3 {
font-size: 2.5rem;
font-family: 'Lobster', cursive;
}

.feature-container .content p {
font-size: 1.5rem;
padding: 16px 0;
/* font-family: 'Roboto', sans-serif; */
font-family: 'Lato';
}



@media(min-width: 1000px) {
    .feature-container{
        display: grid;
        grid-template-columns: 50% 50%;
        /* text-align: center; */
        align-items: center;
    }
}
