.menu-card{
    background-color: #040926;
    color: white;
    margin-top: 35px;
    /* height: 1000px; */
}
.menu-card h2{
    padding-top: 20px;
    color:#EFD6AC;
}
.menu-item {
    /* color: red; */

    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    padding-left: 4rem;
    /* align-items: left; */
}
.menu-item div{
    display: grid;
    grid-template-columns: 65% 35%;
}
.main-name{
    font-family: Arial, Helvetica, sans-serif;
}
.mains-price{
    align-items: right;
    color:#EFD6AC;
}
.mains-description{
    margin-top: -10px;
}
@media (min-width: 1000px) {
    .menu-item {
        padding-left:0px;
    }
    .menu-item div{
        padding-right: 300px;
        padding-left: 300px;
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
    }
    .menu-item p{
        padding-right: 300px;
        padding-left: 300px;
    }
    .menu-item .mains-price{
        text-align: right;
    }
    .menu-card{
        margin-top: 50px;
        /* height: 1000px; */
    }
}
